@import "tailwindcss";

*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  overflow-x: hidden;
  width: 100%;
  max-width: 100vw;
  background-color: #0b0c10;
  color: #ffffff;
  margin: 0;
  padding: 0;
}

